.caseFiles {
  position: absolute;
  top: 70vh;
  left: 9vw;
  font-size: 27px;
  font-family: Arial;
  width: 16vw;
  height: 140px;
  border-width: 2.1px;
  color: rgb(0, 0, 0);
  border-color: rgba(2, 2, 2, 1);
  background-color: white;
  transition: all 0.3s;
}

.caseFiles:hover {
  transform: scale(1.2);
}

body {
  background-image: url("sprite/finalsprite.png");
  background-repeat: no-repeat;
  transition: background-image 0.5s;
  background-size: cover;
}

.defenseEnter {
  width: 50vw;
  position: absolute;
  top: 70vh;
  left: 40vw;
  transition: all 0.3s;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  border-width: 2.1px;
  border-color: black;
}

.defenseButton {
  position: absolute;
  top: 90vh;
  left: 40vw;
  width: 40vh;
  height: 30px;
  transition: all 0.3s;
  background-color: white;
}

.defenseButton:hover {
  transform: scale(1.2);
}
