.casefiles {
  position: absolute;
  top: 70vh;
  left: 9vw;
  font-size: 27px;
  font-family: Arial;
  width: 240px;
  height: 140px;
  border-width: 1px;
  color: rgb(0, 0, 0);
  border-color: rgba(2, 2, 2, 1);
  background: linear-gradient(rgb(211, 211, 178), rgb(255, 231, 152));
  transition: all 0.3s;
}

.casefiles:hover {
  transform: scale(1.2);
}

body {
  background-image: url("sprite/finalsprite.png");
  background-repeat: no-repeat;
  transition: background-image 0.5s;
  background-size: cover;
}

.defenseEnter {
  position: absolute;
  top: 70vh;
  left: 40vw;
  transition: all 0.3s;
  font-family: Helvetica, Arial, sans-serif;
}

.defenseButton {
  position: absolute;
  top: 90vh;
  left: 40vw;
  width: 300px;
  height: 30px;
    transition: all 0.3s;
  background: linear-gradient(rgb(211, 211, 178), rgb(255, 231, 152));
}

.defenseButton:hover {
  transform: scale(1.2);
}