img {
  position: absolute;
  left: 29vw;
  height: 500px;
}
.case1 {
  position: absolute;
  left: 30%;
  top: 50%;
  transition: all 0.3s;
  font-family: Helvetica, Arial, sans-serif;
  border-width: 2.1px;
  color: rgb(0, 0, 0);
  border-color: rgba(2, 2, 2, 1);
  background-color: white;
  outline: none;
  height: 90px;
  width: 180px;
  font-size: 25px;
}

.case2 {
  position: absolute;
  left: 60%;
  top: 50%;
  transition: all 0.3s;
  font-family: Helvetica, Arial, sans-serif;
  border-width: 2.1px;
  color: rgb(0, 0, 0);
  border-color: rgba(2, 2, 2, 1);
  background-color: white;
  outline: none;
  height: 90px;
  width: 180px;
  font-size: 25px;
}

.case1:hover {
  transform: scale(1.2);
}

.case2:hover {
  transform: scale(1.2);
}

#tutorialPopup::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  max-width: 70%;
  animation: breath 8s ease-in-out infinite;
  outline: none;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: scale(1);
  }
}

#popupText {
  white-space: pre-wrap;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
}

button {
  border-width: 2.1px;
  color: rgb(0, 0, 0);
  background-color: white;
  border-color: rgba(2, 2, 2, 1);
  transition: all 0.3s;
  outline: none;
}

button:hover {
  transform: scale(1.2);
}

.tutorial {
  position: absolute;
  height: 150px;
  width: 240px;
  left: 44%;
  top: 80%;
  font-size: 25px;
}
