.redButton {
  position: absolute;
  left: 400px;
  top: 150px;
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 120px;
  height: 60px;
  background-color: rgb(255, 0, 0);
  transition:
    background-color 0.3s,
    rotate 3s,
    border-style 3s,
    transform 0.3s ease,
    font-size 0.3s ease;
}

.redButton:hover {
  background-color: rgb(255, 72, 0);
  transform: scale(1.2);
  outline: 3px dotted;
  outline-offset: 6px;
}

.redButton:enabled {
  position: absolute;
  left: 400px;
  top: 300px;
}