body,
p,
h2,
.case1,
.case2,
.case3,
button {
  font-family: Helvetica, Arial, sans-serif;
}

*:focus {
  outline: none;
}

.case1,
.case2,
.case3,
button {
  border: 2.1px solid rgb(2, 2, 2);
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  transition: transform 0.3s ease;
}

.case1:hover,
.case2:hover,
.case3:hover,
button:hover {
  transform: scale(1.2);
}

img {
  position: absolute;
  left: 29vw;
  height: 45vh;
}

.case1,
.case2,
.case3 {
  position: absolute;
  top: 50%;
  height: 90px;
  width: 180px;
  font-size: 25px;
}

.case1 {
  left: 30%;
}
.case2 {
  left: 60%;
}

.case3 {
  left: 45%;
  top: 66%;
}

.tutorial {
  position: absolute;
  top: 80%;
  left: 44%;
  width: 240px;
  height: 150px;
  font-size: 25px;
}

#tutorialPopup::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  max-width: 70%;
  animation: breath 8s ease-in-out infinite;
  will-change: transform;
}

#popupText {
  white-space: pre-wrap;
}

@keyframes breath {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.025) rotate(1deg);
  }
  50% {
    transform: scale(1.05) rotate(0deg);
  }
  75% {
    transform: scale(1.025) rotate(-1deg);
  }
}
